/* Navbar */

nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 5rem;
   padding: 5rem 0;
   z-index: 999;
   position: fixed;
   top: 0%;
   left: 10%;
}

nav ul {
   display: flex;
   align-items: center;
   gap: 3rem;
}

ul li a {
   font-family: Montserrat;
   font-size: 1.3rem;
   font-weight: 500;
   line-height: 26px;
   letter-spacing: 0em;
   text-align: left;
   color: #373737;
}

.logo {
  font-family: Reem Kufi;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
  color: #FE9E0D;
}


.book-now{
   padding: 1rem 4rem;
   border-radius: 2rem;
   font-size: 1rem;
   font-weight: 500;
   font-family: 'Montserrat';
   cursor: pointer;
}


.toggle-btn {
     background: transparent;
     font-size: 1.5rem;
     display: none;
}


/* Hero section */

.hero-banner {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: -1;
  width: 42%;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 10rem 0;
}

.hero-left {
   padding: 0 0 5rem 0;
   /* border: 1px solid red; */
}

.hero-left h2{
   color: #4C4C4C;
   font-family: "Montserrat";
   font-size: 3rem;
   font-weight: 700;
   line-height: 4.5rem;
   letter-spacing: 0em;
   text-align: left;
}

.hero-left p {
   margin: 3rem 0;
   font-family: "Montserrat";
   font-size: 1.5rem;
   font-weight: 500;
   line-height: 2rem;
   letter-spacing: 0em;
   text-align: left;
   color:#828282;
}

.hero-btn {
  background: #FE9E0D;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-weight: 600;
  font-size: 1rem;
}

.hero-right img{
   height: 50rem;
   /* border: 1px solid green; */
}


/* About us */

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20rem;
}

.about-container img {
  width: 42rem;
}

.section-heading {
   font-size: 1.5rem;
   font-weight: 800;
   color: #FE9E0D;
   font-family: Reem Kufi;
   text-transform: uppercase;
}


.about-left h2{
   color: #4C4C4C;
   font-family: "Montserrat";
   font-size: 3rem;
   font-weight: 700;
   line-height: 4.5rem;
   letter-spacing: 0em;
   text-align: left;
   margin-top: 1rem;
}

.about-left p {
   margin: 2rem 0;
   font-family: "Montserrat";
   font-size: 1.5rem;
   font-weight: 500;
   line-height: 2rem;
   letter-spacing: 0em;
   text-align: left;
   color:#828282;
}

.about-icons{
   display: flex;
   align-items: center;
}


.about-icons span{
   font-size: 2.8rem;
   margin-left: 1.5rem;
}
.about-icons small{
  font-size: 1rem;
  font-weight: 700;
  font-family: "Montserrat";
  color: #515151;
}

.about-banner {
   position: absolute;
   top: 110%;
   left: 0;
   z-index: -1;
   width: 15%;
   margin-top: 5rem;
}


/* Facilities */

.facilities-container {
   margin-top: 20rem;
   display: grid;
   place-items: center;
   gap: 6rem;
   text-align: center;
}

.work-left,
.testimonials-left,
.faq-left{
   width: 50%;
   padding: 5rem;
   justify-content: center;
}

.work-left h2,
.testimonials-left h2,
.faq-left h2{
   color: #4C4C4C;
   font-family: "Montserrat";
   font-size: 3rem;
   font-weight: 700;
   line-height: 4.5rem;
   letter-spacing: 0em;
   margin-top: 1rem;
}

.work-left p,
.work-right p,
.testimonials-left p{
   margin: 2rem 0;
   font-family: "Montserrat";
   font-size: 1.5rem;
   font-weight: 500;
   line-height: 2rem;
   letter-spacing: 0em;
   text-align: center;
   color:#828282;
}

.work-right {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 3rem;
}

.card {
   background: #fff;
   margin: 2rem 0;
   text-align: center;
   padding: 2.5rem;
   box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.card span {
   font-size: 4rem;
   color: #FE9E0D;
}
.card h4 {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Montserrat";
}

.card p{
  font-size: 1.2rem;
  text-align: center;
  font-family: "Montserrat";
  color: #828282;
  font-weight: 500;
}


/* Testimonials */
.testimonials-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 3rem 5rem;
}

.testimonials-right img{
   width: 5rem;
}

.rating span {
   font-size: 2rem;
}

/* Faq section */

.faq-right{
   display: flex;
   align-items: center;
   justify-content: center;
   background: #fff;
   width: 50%;
   padding: 2rem;
   border-radius: 10rem;
}

.faq-right input {
   width: 70%;
   font-size: 1.2rem;
   font-family: "Montserrat";
   color: #828282;
   font-weight: 500;
}

/* Footer section */

.footer-container {
   display: grid;
   grid-template-columns: 30% 60%;
   margin: 10rem 0 5rem 0;
}

.footer-icons{
  display: flex;
  gap: 0.8rem;
  margin-top: 1rem;
  cursor: pointer;
}

.footer-icons i {
  font-size: 1.5rem;
}

.footer-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0%;
  text-align: center;
}


.footer-card {
  display: flex;
  flex-direction: column;
}

.footer-card small{
  font-size: 1rem;
  text-align: center;
  font-family: "Montserrat";
  color: #828282;
  font-weight: 400;
  margin: 0.5rem;
  cursor: pointer;
}


/* Media query */

@media screen and (max-width : 1400px ){
   nav ul {
     gap: 2rem;
   }

   .hero-left h2{
      font-size: 2.5rem;
      font-weight: 600;
   }
   .hero-left p {
      font-size: 1.2rem;
      font-weight: 400;
      margin: 2rem 0;
   }
   
   .hero-banner {
     width: 50%;
   }

   .hero-right img {
      width: 37rem;
   }
   
   .about-left h2{
     font-size: 2rem;
     font-weight: 700;
     line-height: 1.8;
   }
   .about-left p {
      font-size: 1.2rem;
      font-weight: 400;
      margin-top: 0.8rem;
   }
   .about-banner {
     margin-top: 10rem;
     width: 18%;
   }
   
   .about-container img {
     width: 37rem;
   }
   .about-icons span{
      font-size: 2rem;
      margin-left: 0.8rem;
   }
   .about-icons small{
      font-size: 0.8rem;
      font-weight: 700;
   }
   
   .facilities-container{
      gap: 3rem;
   }
   
   .work-left {
      width: 80%;
   }
   .work-left h2{
     font-size: 2rem;
     font-weight: 700;
     line-height: 1.8;
   }
   .work-left p{
      font-size: 1.2rem;
      font-weight: 400;
      margin-top: 0.8rem;
   }
   .work-right{
     gap: 2rem;
   }
   .card{
     padding: 1rem;
   }
   .card h4{
     font-size: 1.2rem;
   }
   .card p{
     font-size: 1rem;
   }
   
   .testimonials-left{
      width: 80%;
   }
   
   .testimonials-left h2{
     font-size: 2rem;
     font-weight: 700;
     line-height: 1.8;
   }
   .testimonials-left p{
      font-size: 1.2rem;
      font-weight: 400;
      margin-top: 0.8rem;
   }
   .testimonials-left{
     gap: 2rem;
   }
   .faq-left {
      width: 80%;
   }
   .faq-right{
     width: 80%;
   }
   
   .faq-left h2{
     font-size: 2rem;
     font-weight: 700;
     line-height: 1.8;
   }
   
}

@media screen and (max-width: 1200px ){
    ul button {
       display: none;
    }
    
    .hero-banner {
      width: 55%;
    }
    
    nav  ul{
      gap: 1.5rem;
    }
    
    /* .hero-left {
      border: 1px solid red;
    }
    .hero-right {
      border: 1px solid green;
    } */
    
    .hero-left h2 {
      font-size: 2rem;
      font-weight: 600;
      
    }
    
    .hero-right img {
       width: 25rem;
    }
    
    .about-left h2{
     font-size: 1.5rem;
     font-weight: 700;
     line-height: 1.5;
   }
   .about-left p {
      font-size: 1rem;
      font-weight: 400;
   }
   .about-banner {
     margin-top: 20rem;
     width: 15%;
   }
   
   .about-container img {
     width: 30rem;
   }
   .about-icons span{
      font-size: 1.5rem;
      margin-left: 0.3rem;
   }
   .about-icons small{
      font-size: 0.8rem;
      font-weight: 700;
   }
   
   .work-left h2{
     font-size: 1.5rem;
     font-weight: 700;
     line-height: 1.5;
   }
   .work-left p {
      font-size: 1rem;
      font-weight: 400;
   }
   
   .testimonials-left {
      width: 80%;
   }
    
    .testimonials-right{
      width: 70%;
    }
    
    
    .testimonials-left h2{
     font-size: 1.5rem;
     font-weight: 700;
     line-height: 1.5;
   }
   .testimonials-left p {
      font-size: 1rem;
      font-weight: 400;
   }
    
}


@media screen and (max-width: 1024px ) {
   .hero-left h2{
      font-size: 2rem;
      line-height: 1.5;
   }
   .hero-right p {
      font-size: 1rem;
      font-weight: 500;
   }
   
   .hero-btn{
     padding: 1rem 3rem;
   }
   
   .hero-right img {
     width: 100%;
   }
   
   .hero-banner {
     width: 50%;
   }
   
    .about-left h2{
     font-size: 1.5rem;
     font-weight: 700;
     line-height: 1.5;
   }
   .about-left p {
      font-size: 1rem;
      font-weight: 400;
   }
   .about-banner {
     margin-top: 20rem;
     width: 18%;
   }
   
   .about-container img {
     width: 30rem;
   }
   
   .mobile-hide{
      display: none;
   }
   
   .work-right{
     gap: 1.5rem;
   }
   
   .card span{
     font-size: 3rem;
   }
   
   .testimonials-left {
      width: 90%;
   }
   
   .testimonials-right {
     width: 70%;
   }
   
   .footer-right {
      grid-template-columns: 1fr 1fr;
      gap: 5%;
   }
   
}

@media screen and (max-width: 786px ) {
   .hero-banner {
     width: 30%;  
   }
   
   .toggle-btn {
      display: block;
   }
   
   .hero-right img {
      display: none;
   }
   
   ul button {
     display: block;
   }
   
   nav .nav-links {
      width: 100%;
      height: 80vh;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 10rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #FE9E0D;
   }
   
   .show-menu {
      display: flex;
   }
   
   .hide-menu{
     display: none;
   }
   
   .hero-container {
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      margin-top: 15rem;
      text-align: center;
   }
   
   .about-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     margin-top: -5rem;
   }
   
   .about-left {
     display: grid;
     place-items: center;
     width: 90%;
     gap: 1%;
     margin: 5rem 0;
   }
   
   .about-banner{
     display: none;
   }
   
   
   
   .work-left {
     width: 100%;
     margin-top: -10rem;
     padding: 0;
   }
   
   
   .work-right {
     grid-template-columns: 1fr 1fr;
     gap: 2rem;
   }
   
   .testimonials-left {
      width: 100%;
   }
   
   .testimonials-right{
     width: 90%;
   }
   
   
   
   
}

@media screen and (max-width: 576px){
   .logo{
     font-size: 2rem;
   }
   .hero-banner{
     display: none;
   }
   .about-container {
     margin-inline: auto;
   }
   
   .about-container img {
      width: 15rem;
   }
   
   .work-right {
     grid-template-columns: 1fr;
     gap: 1rem;
   }
   
   .testimonials-left{
      width: 100%;
      padding: 0;
   }
   
   .testimonials-right span {
      font-size: 1.8rem;
   }
   
   .faq-left {
      width: 100%;
      padding: 0;
   }
   .faq-right{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5rem;
      border-radius: 0;
      background: transparent;
   }
   .faq-right input{
       width: 100%;
       border-radius: 100px;
       padding: 2rem;
       font-size: 1rem;
   }
   
   .footer-container{
      display: block;
      text-align: center;
   }
   .logo{
     text-align: center;
   }
   
   .footer-icons{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem 0;
   }
   
   .footer-right {
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
   }
   
   .footer-right {
      grid-template-columns: 1fr;
      gap: 5%;
   }

}

